<!--====== BANNER PART START ======-->

<section class="banner-area-2 d-flex align-items-center bg_cover" style="background-image: url(/assets/images/banner-2.1.jpg);">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-12">
    			<div class="banner-flex d-flex justify-content-between align-items-center">
    				<div class="banner-content">
    					<h1 class="title">Dachdecker-<br>meister Martin</h1>
    					<p>Wir erbringen umfassende Komplettleistungen in den Bereichen Dach, Fassade, energetische Modernisierung und Innenausbau. Von der Planung bis zur Ausführung sind Sie bei uns in guten Händen. Sie haben eine Frage oder möchten einen Termin vereinbaren?</p>
						<ul>
<!-- 							<li><a class="main-btn" href="tel:01799968322">Jetzt anrufen</a></li>-->
 							<li><a href="tel:01799968322">Rufen Sie uns jetzt an<i class="fal fa-long-arrow-right"></i></a></li>
						</ul>
    				</div>
<!--     				<div class="banner-play d-none d-md-block">
    					<a class="video-popup" href="https://www.youtube.com/watch?v=xyCIXXs6ZCM"><i class="fal fa-play"></i></a>
    				</div> -->
    			</div>
    		</div>
    	</div>
    </div>
</section>

<!--====== BANNER PART ENDS ======-->