<!--====== CASE STUDY PART START ======-->
   
<section class="case-study-area pb-130">
	<div class="container">
		<div class="row justify-content-start">
			<div class="col-lg-6">
				<div class="section-title">
					<h2 class="title"><span>Projektreferenzen</span></h2>
					<p>Zuletzt erfolgreich abgeschlossene Projekte unsers Meisterbetriebs in Koblenz und Umgebung, auf die wir stolz sind</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-7 col-sm-9">
				<div class="case-item mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
					<div class="case-thumb">
						<img src="assets/images/case-studies/case-1/photo-1.jpg" alt="case">
					</div>
					<div class="case-content white-bg">
						<h4 class="title">Energieteschnische Altbausanierung von einem Satteldach in Koblenz</h4>
						<p>Energiekosten bei einem Zweifamilienhaus um 20 % gesenkt.</p>
						<a href="projektreferenzen/projektreferenz-1.html">Mehr Details <i class="far fa-long-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-7 col-sm-9">
				<div class="case-item mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="300ms">
					<div class="case-thumb">
						<img src="assets/images/case-studies/case-2/photo-1.JPG" alt="case">
					</div>
					<div class="case-content white-bg">
						<h4 class="title">Neueindeckung eines Spitzdaches</h4>
						<p></p>
						<a href="projektreferenzen/projektreferenz-2.html">Mehr Details<i class="far fa-long-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-7 col-sm-9">
				<div class="case-item mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
					<div class="case-thumb">
						<img src="assets/images/case-studies/case-3/photo-1.JPG" alt="case">
					</div>
					<div class="case-content white-bg">
						<h4 class="title">Aussenwandverkleidung</h4>
						<p>Avoids pleasure itself, because pleasure but because those whoknow how.</p>
						<a href="projektreferenzen/projektreferenz-3.html">Mehr Details<i class="far fa-long-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-7 col-sm-9">
				<div class="case-item-2 mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
					<img src="assets/images/case-studies/case-4/photo-1.jpg" alt="case">
					<div class="case-overlay">
						<div class="case-content">
							<h4 class="title">Verlegen von Terrassendielen</h4>
							<!-- <a href="#">View Details <i class="far fa-long-arrow-right"></i></a> -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-7 col-sm-9">
				<div class="case-item-2 mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="300ms">
					<img src="assets/images/case-studies/case-5/photo-1.jpg" alt="case">
					<div class="case-overlay">
						<div class="case-content">
							<h4 class="title">Einbau von Dach- und Wohraumfenster</h4>
						<!-- 	<a href="#">View Details <i class="far fa-long-arrow-right"></i></a> -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-7 col-sm-9">
				<div class="case-item-2 mt-30 wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
					<img src="assets/images/case-studies/case-6/photo-1.jpg" alt="case">
					<div class="case-overlay">
						<div class="case-content">
							<h4 class="title">Dachbegrünung eines Garagendaches</h4>
							<!-- <a href="#">View Details <i class="far fa-long-arrow-right"></i></a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> 

<!--====== CASE STUDY PART ENDS ======-->