<!--====== SERVICES 3 PART START ======-->
   
<section class="services-3-area pb-125">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title text-center">
					<h2 class="title">Was wir machen <span>Unsere meisterlichen <span> Leistungen </span></span></h2>
					<p>Alles aus einer Hand</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
<!-- 					<i class="fal fa-laptop-code"></i><br> -->
					<span></span>
					<h4 class="title">Steildach Neu- und Umdeckungen</h4>
					<p>Tonziegel und Betondachsteine in vielfältigen Formen und Farben.</p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="300ms">
<!-- 					<i class="fal fa-umbrella-beach"></i><br> -->
					<span></span>
					<h4 class="title">Flachdacharbeiten</h4>
					<p>Effiziente Raumnutzung, ökologische Aspekte und gestalterische Ansprüche sprechen für das Flachdach.</p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
<!-- 					<i class="fal fa-server"></i><br> -->
					<span></span>
					<h4 class="title">Dachbegrünungen</h4>
					<p>Sie erzielen eine Verbesserung der Wohnqualität im Bereich Wärme- und Schallschutz, erweitern Ihre Nutzfläche und leisten einen ökologischen Beitrag.</p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
<!-- 					<i class="fal fa-lock-open-alt"></i><br> -->
					<span></span>
					<h4 class="title">Dachsanierungen</h4>
					<p>Egal wie hochwertig die verarbeiteten Materialen sind, alle Baustoffe erreichen eines Tages ihr Lebensende und müssen ausgetauscht werden.</p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
<!-- 					<i class="fal fa-layer-plus"></i><br> -->
					<span></span>
					<h4 class="title">Dachentwässerung</h4>
					<p>Wir finden Für jeden Verwendungsweck und für jedes Dach die passende Regenrinne.</p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="300ms">
<!-- 					<i class="fal fa-gift-card"></i><br> -->
					<span></span>
					<h4 class="title">Einbau von Dach- und Wohraumfenster</h4>
					<p>Unter dem Dach wohnen Sie in einer besonderen Atmosphäre: Die Räume sind Licht durchflutet und die Fenster geben den Blick auf die Umgebung und den Himmel frei.</p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
<!-- 					<i class="fal fa-drafting-compass"></i><br> -->
					<span></span>
					<h4 class="title">Aussenwandverkleidungen</h4>
					<p>Fassaden können unterschiedlich verkleidet werden: Wasserabweisendes Material, Schützt das Haus, Schöne und langlebige Optik. </p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
<!-- 					<i class="fal fa-dharmachakra"></i><br> -->
					<span></span>
					<h4 class="title">Reparaturen und Wartungen</h4>
					<p>Tag und Nacht schützt es das Gebäude und seine Bewohner zuverlässig gegen die Witterung. Da es aber nicht im direkten Blickfeld des Betrachters liegt, braucht es regelmäßig eine fachmännische Überprüfung.</p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
<!-- 					<i class="fal fa-dharmachakra"></i><br> -->
					<span></span>
					<h4 class="title">Bauwerksabdichtungen</h4>
					<p>Für Flachdächer, Balkone, Terrassen oder Nassräume sind wirksame Bauwerksabdichtungen erforderlich. Hauptziel aller Maßnahmen ist der sichere Schutz vor eindringender Feuchtigkeit.</p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
<!-- 					<i class="fal fa-dharmachakra"></i><br> -->
					<span></span>
					<h4 class="title">Solaranlagen, Photovoltaik</h4>
					<p>Aufbau von Solar- und Photovoltaik-Anlagen. Wir sind Ihr Ansprechpartner, wenn es um die Planung und den Einbau von Solaranlagen geht</p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
<!-- 					<i class="fal fa-dharmachakra"></i><br> -->
					<span></span>
					<h4 class="title">Carportbau</h4>
					<p>Wir sind Ihr Fachhandwerker für die Verlegung von Wellplatten und Hohlkammerprofilen in den verschiedensten Formen und Materialien</p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
<!-- 					<i class="fal fa-dharmachakra"></i><br> -->
					<span></span>
					<h4 class="title">Klempnerarbeiten</h4>
					<p>Wir bearbeiten und stellen Bleche für alle Dächer her. Bei uns entstehen Bauteile für die unterschiedlichsten Einsatzmöglichkeiten, wie zum Beispiel Blechdächer und Regenrinne</p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-7">
				<div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
<!-- 					<i class="fal fa-dharmachakra"></i><br> -->
					<span></span>
					<h4 class="title">Dachdämmung</h4>
					<p>Eine Dachdämmung zahlt sich das ganze Jahr hindurch aus, denn sie schützt das Haus vor Sommerhitze und Winterkälte.</p>
					<!-- <a href="#">Read More <i class="far fa-long-arrow-right"></i></a> -->
				</div>
			</div>
		</div>
	</div>
</section> 

<!--====== SERVICES 3 PART ENDS ======-->